<!DOCTYPE html>
<html>
<head>
	<title>Pestaña</title>
</head>
<body>
	<h1>Aca se encuestra la lista de los docentes del curso.</h1>
	<br>
	<h1>El profesor es:<h1>
		<h2>Víctor Hernández M.<h2>
	<br>
	<h1>Los ayudantes son:<h1>
		<h2>Carlos Alberto Vega Hernández<h2>
		<h2>Catalina Martin D.<h2>
		<h2>Eduardo Valerio C.<h2>
		<h2>Juan Gutiérrez T.<h2>
		<h2>Matías Rojas<h2>
		<h2>Nicolás Villa Contardo<h2>
		<h2>Sebastián Donoso<h2>
		<h2>Sofia Herrera<h2>
		<h2>Victoria Arce A.<h2>
	<br>
	<h1>Los auxiliares son:<h1>
		<h2>Javiera Ovalle T.<h2>
		<h2>Jorge Pinto<h2>
		<h2>José Canto<h2>
		<h2>Macarena V. Osorio A.<h2>
	<br>
	<a href="{% url 'index' %}">Hola, soy un enlace al index del proyecto</a>
	<br>
	<a href="{% url 'pestaña' %}">Hola, soy un enlace a otra pestaña del proyecto</a>
	

</body>
</html>